<html>
  <%- include('/app/public/blocks/header.ejs'); -%>
  <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">AC Bots</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AC Bot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <table class="table table-bordered table-hover table-condensed">
            <thead><tr><th title="Field #1">deleted</th>
            <th title="Field #2">available</th>
            <th title="Field #3">id</th>
            <th title="Field #4">name</th>
            <th title="Field #5">icon</th>
            <th title="Field #6">splash</th>
            <th title="Field #7">region</th>
            <th title="Field #8">memberCount</th>
            <th title="Field #9">large</th>
            <th title="Field #10">applicationID</th>
            <th title="Field #11">afkTimeout</th>
            <th title="Field #12">afkChannelID</th>
            <th title="Field #13">systemChannelID</th>
            <th title="Field #14">verificationLevel</th>
            <th title="Field #15">explicitContentFilter</th>
            <th title="Field #16">mfaLevel</th>
            <th title="Field #17">joinedTimestamp</th>
            <th title="Field #18">defaultMessageNotifications</th>
            <th title="Field #19">ownerID</th>
            </tr></thead>
            <tbody><tr>
            <td>false</td>
            <td>true</td>
            <td align="right">564897676257394699</td>
            <td>Apple Community</td>
            <td>09aa8cae5a04626ddf28e7472e61d659</td>
            <td> </td>
            <td>us-east</td>
            <td align="right">44</td>
            <td>false</td>
            <td> </td>
            <td align="right">300</td>
            <td> </td>
            <td align="right">564897676257394701</td>
            <td align="right">4</td>
            <td align="right">2</td>
            <td>0</td>
            <td align="right">1567986520104</td>
            <td>MENTIONS</td>
            <td align="right">514233509368430610</td>
            </tr>
            <tr>
            <td>false</td>
            <td>true</td>
            <td align="right">627514254433583123</td>
            <td>Apple Community Europe</td>
            <td> </td>
            <td> </td>
            <td>europe</td>
            <td align="right">5</td>
            <td>false</td>
            <td> </td>
            <td align="right">300</td>
            <td> </td>
            <td align="right">627517602142617639</td>
            <td align="right">3</td>
            <td align="right">2</td>
            <td>0</td>
            <td align="right">1569682082447</td>
            <td>ALL</td>
            <td align="right">539971264639401984</td>
            </tr>
            </tbody></table>
  </body>
</html>